@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-purple-gradient{
  background: linear-gradient(0deg, rgb(87, 89, 202) 0%, rgb(129, 100, 173) 100%);
}

.bg-purpler-gradient{
  background: linear-gradient(0deg, rgb(33, 34, 75) 0%, rgb(50, 39, 66) 100%);
}

.w-especifico{
  width: 98%;
}

.w-especifissimo{
  width: 20vh;
}

.h-especifico{
  height: 100vh;
}

.h-especifissimo{
  height: 90vh
}

.h-vaitomanocu{
  height: 10vh
}

